<!DOCTYPE html>
<html>
<head>
    <title>Liste des documents par rangs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Liste des documents avec leurs types :</h1>
    <%
        var list = '<ul>';  
        
        for (i = 0; i < documentsliste.length; i++) {
            list += '<li>' + documentsliste[i].fields.titre_avec_lien_vers_le_catalogue;
                if(documentsliste[i].fields.type_de_document){
                    list += ' /// ' + documentsliste[i].fields.type_de_document;
                }
            list += '</li>';
        
        }
        list += '</ul>';
        %>
    <%- list %>
</body>
</html>