<!DOCTYPE html>
<html>

<head>
    <title>Médiathèque</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Médiathèque</h1>
    <table>
        <thead>
            <th>Titre</th>
            <th>Type de document</th>
        </thead>
        <% for(let i = 0; i < documents.length; i++){
            doc = documents[i]; %>
            <tr>
                <td><%= doc.fields.titre_avec_lien_vers_le_catalogue %></td>
                <td><%= doc.fields.type_de_document %></td>
                <td><button>
                    <%= doc.fields.emprunt ? "Rendre" : "Emprunter" %>  
                </button></td>
            </tr>
        <% } %>
    </table>
    

</body>
</html>