<!DOCTYPE html>
<html>
  <head>
    <title>Add Artiste</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddArtiste" name="addartiste" method="post" action="/addartiste">
      <input id="inputUserName" type="text" placeholder="mettez le nom" name="usernom" />
      <input id="inputUserEmail" type="text" placeholder="mettez l'annee de debut" name="useranneedebut" />
      <button id="btnSubmit" type="submit">Valider</button>
    </form>
  </body>
</html>